@model IEnumerable<Medica.Models.Usluga>
@using Medica.Models;
@{
    ViewBag.Title = "Upravljanje uslugama";
}

@{
    String ime = "a";
    String uloga = "a";
        if (Session["tip"].Equals("korisnik"))
        {
            var user = Session["user"] as Korisnik;
            ime = user.Ime;
        }
        else
        {
            var user = Session["user"] as Zaposleni;
            ime = user.Ime;
            uloga = user.Uloga.Ime;
        }

    }

<p>
@if (uloga.Equals("administrator"))
{
    <h2>Upravljanje uslugama</h2>
    @Html.ActionLink("Dodaj novu uslugu", "Create")
   
        }
else
{
    <h2>Nase usluge</h2>
}
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Ime)  @uloga
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cijena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trajanje)
        </th>
        <th>
            @Html.Label("Ime doktora")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
@if (uloga.Equals("administrator"))
        {
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
}
        <th></th>
    </tr>

@foreach (var item in Model) { 
    
    <tr>
        @if (item.Status == 1 || (uloga.Equals("administrator"))) {
        <td>
            
            @Html.DisplayFor(modelItem => item.Ime)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cijena) e
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trajanje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zaposleni.Ime) @Html.DisplayFor(modelItem => item.Zaposleni.Prezime) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        
    if (uloga.Equals("administrator"))
        {
        <td>
            @{if (item.Status == 1)
            {
                @("Aktivan")
            }
            else
            {
                @("Neaktivan")
            }

}
        </td>
                 
}

        <td>
        @if (uloga.Equals("administrator"))
        {
            @Html.ActionLink("Izmjeni | ", "Edit", new { id=item.UslugaID }) 
            @Html.ActionLink("Izmjeni status", "Status", new { id = item.UslugaID })
        }
        else { 
            
            @Html.ActionLink("Zakazi", "Zakazi", new { id = item.UslugaID }, new { @class = "btn btn-sm btn-success" })
        }
        </td>
        }
    </tr>
}

</table>
