@using Medica.Models;
@{
    String ime = "";
    String uloga = "";
    
    if (Session["tip"] == null)
    {
        
    }
    else { 
    
    
    if (Session["tip"].Equals("korisnik"))
    {
        var user = Session["user"] as Korisnik;
        ime = user.Ime;
    }
    else
    {
        var user = Session["user"] as Zaposleni;
        ime = user.Ime;
        uloga = user.Uloga.Ime;
    }

    }
}





<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medica - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Medica", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                    <li>@Html.ActionLink("O nama", "About", "Home")</li>
                    <li>@Html.ActionLink("Pomoc", "", "")</li>
                   @if (uloga.Equals("administrator")) { 
                    <li class="dropdown">
                        <a class="nav navbar-nav" data-toggle="dropdown" href="#">Administratorski alati<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Upravljanje zaposlenima", "Index", "Zaposlenis")</li>
                            <li>@Html.ActionLink("Upravljanje ulogama", "Index", "Ulogas")</li>
                            <li>@Html.ActionLink("Upravljanje korisnicima", "Index", "Korisniks")</li>
                            <li>@Html.ActionLink("Upravljanje uslugama", "Index", "Uslugas")</li>
                            <li>@Html.ActionLink("Upravljanje pregledima", "Index", "Pregleds")</li>
                        </ul>
                    </li>
                   }
                </ul>
                <div style="float:right">
                    <ul class="nav navbar-nav">      
                        <li class="dropdown">
                            <a class="nav navbar-nav" data-toggle="dropdown" href="#">@ime<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Moji pregledi", "Index", "Pregleds")</li>
                                <li>@Html.ActionLink("Izloguj se", "Logout", "Login")</li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Marko Dosen 25/11</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

    