@model Medica.Models.Pregled

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VrijemePocetka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VrijemePocetka)
        </dd>
        <dt>
            @Html.Label("Ime usluge")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usluga.Ime)
        </dd>
        <dt>
            @Html.Label("Opis usluge")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usluga.Opis)
        </dd>

        <dt>
            @Html.Label("Ime pacijenta")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Korisnik.Ime) @Html.DisplayFor(model => model.Korisnik.Prezime) 
        </dd>
        <dt>
            @Html.Label("Ime doktora")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usluga.Zaposleni.Ime) @Html.DisplayFor(model => model.Usluga.Zaposleni.Prezime) (@Html.DisplayFor(model => model.Usluga.Zaposleni.Uloga.Ime))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Vrati se na listu", "Index")
</p>
