@model Medica.Models.Pregled

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pregled</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VrijemePocetka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VrijemePocetka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VrijemeZavrsetka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VrijemeZavrsetka)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PregledID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
