@model IEnumerable<Medica.Models.Pregled>
@using Medica.Models;
@{
    ViewBag.Title = "Pregledi";
}

@{
    String ime = "a";
    String uloga = "a";
    String prezime = "";
        if (Session["tip"].Equals("korisnik"))
        {
            var user = Session["user"] as Korisnik;
            ime = user.Ime;
            prezime = user.Prezime;
        }
        else
        {
            var user = Session["user"] as Zaposleni;
            ime = user.Ime;
            prezime = user.Prezime;
            uloga = user.Uloga.Ime;
        }

    }
@if (uloga.Equals("administrator"))
{
    <h2>Upravljanje pregledima</h2>

}
else
{
    <h2>Pregledi</h2>
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.Label("Vrijeme pocetka")
        </th>
        <th>
            @Html.Label("Ime usluge")
        </th>
        <th>
            @Html.Label("Ime pacijenta")
        </th>
        <th>
            @Html.Label("Status")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
         @if ((item.Korisnik.Ime.Equals(ime) && item.Korisnik.Prezime.Equals(prezime)) || 
             (item.Usluga.Zaposleni.Ime.Equals(ime) && item.Usluga.Zaposleni.Prezime.Equals(prezime)) ||
             uloga.Equals("administrator") || uloga.Equals("Medicinska sestra"))
         {
             
         
        <td>
            @Html.DisplayFor(modelItem => item.Datum) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VrijemePocetka) h
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usluga.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Korisnik.Ime) @Html.DisplayFor(modelItem => item.Korisnik.Prezime)
        </td>
        <td>
            @{if (item.Status == 1)
            {
                @("Odobren")
            }
            if(item.Status==0)
            {
                @("Ceka se na odobrenje")
            }
            if (item.Status == 2)
            {
                @("Neodobren")
            }
            if (item.Status == 3)
            {
                @("Obavljen pregled")
            } if (item.Status > 3)
            {
                @("Otkazan od strane pacijenta")
            }
}
        </td>

        <td>
            @Html.ActionLink("Detalji", "Details", new { id=item.PregledID }) 
        </td>
             if ((item.Korisnik.Ime.Equals(ime) && item.Korisnik.Prezime.Equals(prezime)) && item.Status<3) { 
        <td>
            @Html.ActionLink("Otkazi", "Otkazi", new { id = item.PregledID })
        </td>
             }
             if (uloga.Equals("administrator"))
             {
                <td>
                    @Html.ActionLink("Resetuj pregled", "Resetuj", new { id = item.PregledID }, new { @class = "btn btn-danger" })
                </td>
             }
             if (uloga.Equals("Medicinska sestra") && item.Status < 4)
             {
                 if (item.Status < 3)
                 {
            <td>
                @Html.ActionLink("Odobri pregled", "Odobri", new { id = item.PregledID }, new { @class = "btn btn-sm btn-success" })
            </td>
    <td>
        @Html.ActionLink("Ne odobri pregled", "Neodobri", new { id = item.PregledID }, new { @class = "btn btn-sm btn-danger" })
    </td>
                 
    <td>
        @Html.ActionLink("Obavljen", "Obavljen", new { id = item.PregledID }, new { @class = "btn btn-info" })
    </td>
                 }
                 
             }
         }
    </tr>
}

</table>
