@model IEnumerable<Medica.Models.Uloga>
@using Medica.Models;
@{
    ViewBag.Title = "Upravljanje ulogama";
}

@{
    String uloga = "";
    if (Session["tip"].Equals("zaposleni"))
  {
      var user = Session["user"] as Zaposleni;
      uloga = user.Uloga.Ime;
  }
  
 }
<h2>Upravljanje ulogama</h2>

<p>
@if (uloga.Equals("administrator")) {
    @Html.ActionLink("Kreiraj novu ulogu", "Create")
}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        
           
        <td>
            @Html.ActionLink("Izmjeni", "Edit", new { id=item.UlogaID })
        </td>
        
    </tr>
}

</table>
